@import url('https://rsms.me/inter/inter.css');

:root {
  --color-light: rgb(255, 255, 255);
  --color-dark: #212121;
  --color-signal: #fab700;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .1rem;
  --size-radius: 2px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: transparent;
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

body {
    /* background: linear-gradient( rgb(249, 191, 84), rgb(15, 11, 17)); */
    /* background: linear-gradient(#e66465, #9198e5); */
    background-image: url(groovy1.jpg);
    height: 100%;
    
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* display: ;  */
}

.input-group mb-3 {
    margin: auto;
    display: block;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    float:none;
    
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.remove {
    display: none;
}

.card {
    background: var(--color-background);
    padding: calc(4 * var(--size-bezel));
    margin-top: calc(4 * var(--size-bezel));
    border-radius: 5px;
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);

  }