{% extends "layout.html" %}

{% block title %}
    Adjust list settings
{% endblock %}

{% block main %}
    <form action="/list" method="post">
        <input type="text" placeholder="Enter your name" name="username">
        <br><br><br>

        <div class="card_landing">
            <h1>{{ title[0] }}</h1>
        </div>
        <br><br><br>

        {% for category in categories %}
        <button class="card_list_title" name="category" value="{{ category }}">
            <h2>{{ category }}</h2>
            <div class="card_list_data">
                {% for user in users %}
                    {% if user['Category'] == category %}
                        <div>{{ user['Name'] }}</div>
                    {% endif %}

                {% endfor %}
            </div>   
        </button>
        <br><br>
        {% endfor %}
    </form>
    <script>

    </script>

{% endblock %}